*{
    box-sizing: border-box;
}

body {
    background-color: #201e2d ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    margin: 0;
}

h2{
    color: white;
    margin: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 0 0 15px;
    border: none;
    font-size: 16px;
}

.tag {
    background-color: #ff8906;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 0 5px 10px 0;
    font-size: 20px;
    display: inline-block;
}

.tag.highlight{
    background-color: #e53170;
}